<!DOCTYPE html>
<html> 

    <head>
        <meta charset="utf-8">
        <title> LBD ERP </title>
    </head>

    <style>
        html {
            color: grey;
            background-color: aquamarine;
        }

        text {
            font-size: 24px;
        }
    </style>

    <body> 
        
        <center> <h1>LBD ERP</h1> </center>
        <center> <text>Current Dictionary Values</h2></text> </center>

        <p> dictionary = {{retrieve_dictionary}} </p>

        <br>

        <center> <button onclick="window.location.replace('/')">Return to Home Page</button> </center>
    </body>

</html>
